<div class="spellbook-container">
  @if(!spells()?.length) {
    <div class="empty-inventory">
      Spellbook is empty.
    </div>
  }

  @for(categoryName of objectKeys(categorizedSpells()); track categoryName) {
    <div class="inventory-section">
      <h3>{{ categoryName }}</h3>
      <ul class="item-list">
        @for(spell of categorizedSpells()[categoryName]; track spell.id_suggestion) {
          <li class="item-entry">
            <div class="item-info">
              <span class="item-name">
                {{ spell.name }}
              </span>
              <span *ngIf="spell.description">
                <i [pTooltip]="spell.description" tooltipPosition="right" class="pi pi-info-circle"></i>
              </span>
            </div>
            
            <div class="managing-section">
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-text p-button-sm edit-button"
                (click)="openEditModal(spell)"
                pTooltip="Edit Spell">
              </button>
              <div class="item-actions">
                <button
                  *ngIf="!spell.isPassive"
                  pButton
                  class="action-button cast-button p-button-info p-button-outlined"
                  (click)="handleCastClick($event, spell)"
                  (contextmenu)="callSpellModeDialog(spell, $event)">
                  Cast
                </button>
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  }
  <div class="add-item-fab">
    <p-speedDial [model]="spellAddOptions" direction="up" styleClass="p-speeddial-action-text" />
  </div>
</div>

<p-overlayPanel #slotPanel [dismissable]="true" [showCloseIcon]="false">
  <div class="slot-select-panel">
    <div class="slot-select-title">Cast at:</div>
    @for(opt of slotOptions; track opt.value) {
      <button pButton class="p-button-text p-button-sm" (click)="castAtSlot(opt.value)">{{ opt.label }}</button>
    }
  </div>
</p-overlayPanel>

<p-confirmpopup>
  <ng-template #content let-message>
    <app-roll-options-panel
      [includeNormal]="false"
      [toggles]="spellExtraToggles()"
      (toggleChanged)="onSpellExtraToggleChanged($event)"
      (rollEmit)="onSpellRollModeSelected($event)">
    </app-roll-options-panel>
  </ng-template>
</p-confirmpopup>
