<div class="inventory-container">
  <div *ngIf="!inventoryItems?.length" class="empty-inventory">
    Inventory is empty.
  </div>

  <div *ngFor="let categoryName of objectKeys(categorizedItems)" class="inventory-section">
    <h3>{{ categoryName }}</h3>
    <ul class="item-list">
      <li *ngFor="let item of categorizedItems[categoryName]" class="item-entry">
        <div class="item-info">
          <span class="item-name">
            {{ item.name }}
            <span *ngIf="item.quantity > 1" class="item-quantity"> (x{{ item.quantity }})</span>
            <span *ngIf="isItemEquipped(item)" class="equipped-badge">Equipped</span>
          </span>
          
          <span *ngIf="item.description">
            <i class="pi pi-info-circle" [pTooltip]="item.description" tooltipPosition="top"></i>
          </span>
        </div>
        <div class="item-actions">
          <button
            pButton
            type="button"
            class="p-button-text p-button-sm edit-button"
            (click)="openEditModal(item)"
            pTooltip="Edit Item">
            <i class="pi pi-pencil"></i>
          </button>

          <button
            pButton
            type="button"
            class="p-button-sm equip-button"
            [ngClass]="isItemEquipped(item) ? 'p-button-warning' : 'p-button-success'"
            (click)="toggleEquip(item)"
            [pTooltip]="isItemEquipped(item) ? 'Unequip item' : 'Equip item'">
            {{ isItemEquipped(item) ? 'Unequip' : 'Equip' }}
          </button>

          <button
            *ngIf="item.type === 'WEAPON' && item.properties?.effects"
            (click)="rollAttackAndDamage(item)"
            pButton
            (contextmenu)="callModeDialog(item, $event)"
            class="action-button attack-button p-button-danger p-button-outlined">
            Attack
          </button>
          <button
            *ngIf="item.type === 'CONSUMABLE' && item.properties.effect_details"
            (click)="useConsumable(item)"
            pButton
            class="action-button use-button p-button-success p-button-outlined">
            Use
          </button>

          <span *ngIf="damageRollResults[item.item_id_suggestion] === null" class="roll-result error">
             Roll error
          </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="add-item-fab">
    <p-speedDial [model]="itemAddOptions" direction="up" styleClass="p-speeddial-action-text" />
  </div>
</div>

<p-confirmpopup>
  <ng-template #content let-message>
    <app-roll-options-panel
      (rollEmit)="rollAttackAndDamage(this.selectedItem(), $event)">
    </app-roll-options-panel>
  </ng-template>
</p-confirmpopup>

