<div class="summary-container">
  <div class="summary-header">
    <h4>Adventure Summary</h4>
    <div class="header-actions">
      <button
        [disabled]="!summaryData()"
        pButton
        label="Edit"
        class="p-button-sm p-button-outlined"
        (click)="openEditModal()">
      </button>
    </div>
  </div>

  <form [formGroup]="summaryForm">
    <p-tabs>
      <p-tab>
        <ng-template pTemplate="header">General</ng-template>
        <ng-template pTemplate="content">
          <p class="summary-text">{{ summaryData()?.adventureHistory || 'No summary yet.' }}</p>
        </ng-template>
      </p-tab>
      <p-tab>
        <ng-template pTemplate="header">Characters</ng-template>
        <ng-template pTemplate="content">
          <p class="summary-text">{{ summaryData()?.keyRelationships || 'No character interactions recorded.' }}</p>
        </ng-template>
      </p-tab>
      <p-tab>
        <ng-template pTemplate="header">Notes</ng-template>
        <ng-template pTemplate="content">
          <p class="summary-text">{{ summaryData()?.importantDecisions || 'No additional notes.' }}</p>
        </ng-template>
      </p-tab>
    </p-tabs>
  </form>
</div>
