<div class="skill-editor-content">
  <form [formGroup]="skillForm" (ngSubmit)="save()">
    <div class="field-checkbox">
      <p-checkbox
        formControlName="proficient"
        [binary]="true"
        inputId="proficientCheck">
      </p-checkbox>
      <label for="proficientCheck" class="ml-2">Proficient in {{ skillData?.name }}</label>
    </div>
  </form>
</div>

<div class="p-dialog-footer">
  <button pButton type="button" label="Cancel" class="p-button-text" (click)="close()"></button>
  <button pButton type="button" label="Save" class="p-button-success" (click)="save()"></button>
</div>

@if (trial?.eligibility?.include?.formattedText || trial?.eligibility?.exclude?.formattedText) {
  @if (trial?.eligibility?.include?.formattedText) {
    <div class="exclude_br html-formatted-txt eligibility-html-formatted-txt">
      <span class="font-weight-bold" i18n="@@trial_summary.inclusion_criteria">Inclusion Criteria:</span>
      <div [innerHTML]="trial.eligibility.include.formattedText"></div>
    </div><br>
  }
  @if (trial?.eligibility?.exclude?.formattedText) {
    <div class="exclude_br html-formatted-txt eligibility-html-formatted-txt">
      <span class="font-weight-bold" i18n="@@trial_summary.exclusion_criteria">Exclusion Criteria:</span>
      <div [innerHTML]="trial.eligibility.exclude.formattedText"></div>
    </div>
  }
} @else {
  <div class="exclude_br html-formatted-txt eligibility-html-formatted-txt"
       [innerHTML]="trial?.eligibilityCriteriaDisplay"
       tabindex="0">
  </div>
}

@if (trial?.eligibility?.include?.formattedText) {
  <div class="exclude_br html-formatted-txt eligibility-html-formatted-txt">
    <span class="font-weight-bold" i18n="@@trial_summary.inclusion_criteria">Inclusion Criteria:</span>
    <div [innerHTML]="trial.eligibility.include.formattedText"></div>
  </div><br>
} @else if(trial?.eligibility?.exclude?.formattedText) {
  <div class="exclude_br html-formatted-txt eligibility-html-formatted-txt">
    <span class="font-weight-bold" i18n="@@trial_summary.exclusion_criteria">Exclusion Criteria:</span>
    <div [innerHTML]="trial.eligibility.exclude.formattedText"></div>
  </div>
} @else {
  <div class="exclude_br html-formatted-txt eligibility-html-formatted-txt"
       [innerHTML]="trial?.eligibilityCriteriaDisplay"
       tabindex="0">
  </div>
}
