<p-card class="player-card">
  <ng-container>
    <div class="basic-info-row">
      <div class="info-main">

        <div class="header-button-wrapper">
          <h3 class="char-name">
            {{ name() || 'Nameless Wanderer' }}
          </h3>

          <button
            pButton
            type="button"
            class="p-button-outlined p-button-sm manage-btn"
            [disabled]="!playerCardForm.get('level')?.getRawValue()"
            [label]="editMode() ? 'Cancel' : 'Edit'"
            (click)="toggleEdit()">
          </button>

          @if (editMode()) {
            <button
              pButton
              type="submit"
              class="p-button-sm p-button-success save-btn"
              label="Save"
              [disabled]="!playerCardForm.get('level')?.getRawValue()"
              (click)="saveChanges()">
            </button>
          }

          <app-dice-roller
            [disabled]="!playerCardForm.get('level')?.getRawValue()"
            styleClass="p-button-sm p-button-outlined manage-btn"
            (emitRollResults)="setDiceRollResult($event)"
          />
        </div>


        <p class="char-specialization">
          @if(playerCardForm.get('race')?.getRawValue() && playerCardForm.get('class')?.getRawValue()) {
            {{ playerCardForm.get('race')?.getRawValue() }}
            /
            {{ playerCardForm.get('class')?.getRawValue() }}
          }
        </p>



        <p class="char-level-exp">
          <span class="level">Level {{ playerCardForm.get('level')?.getRawValue() }}</span>
          <span class="exp"> /  {{ playerCardForm.get('exp')?.getRawValue() }} XP</span>
        </p>
      </div>


      <div class="hp-armor-wrapper">
        <div class="hp-box" [appValueChangeRipple]="playerCardForm.get('hp.current')?.getRawValue()">
          <span class="hp-label">HIT POINTS</span>
          <span class="hp-value">
            {{ playerCardForm.get('hp.current')?.getRawValue() }}
            <span class="hp-divider">/</span>
            {{ playerCardForm.get('hp.maximum')?.getRawValue() }}
          </span>
        </div>
        <div>
          <div class="hp-box" [appValueChangeRipple]="playerCardForm.get('hp.current')?.getRawValue()">
            <span class="hp-label">ARMOR</span>
            <span class="hp-value">{{ armorClass() }}</span>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!editMode(); else editView">
      <p-divider />

      <div class="attributes-grid">
        <ng-container *ngFor="let ability of (abilities() | keyvalue); trackBy: trackByAbilityKey">
          <div class="attribute-card">
            <span class="attribute-name">{{ ability.key | attrName | uppercase }}</span>

            <button
              class="stat-button"
              type="button"
              [disabled]="!ability.value"
              (click)="rollAbilityCheck(ability.key)"
              [appValueChangeRipple]="ability.value">
              {{ ability.value }}
            </button>

            <span
              class="bonus-oval"
              [ngClass]="{'bonus-oval-disabled': !ability.value}"
              *ngIf="equipmentBonuses()?.statsBonuses?.[ability.key] && equipmentBonuses()?.statsBonuses?.[ability.key] > 0"
            >+{{ equipmentBonuses()?.statsBonuses?.[ability.key] }}</span>
          </div>
        </ng-container>
      </div>

      <p-divider />

      <div class="inventory-wrapper">
        <p-accordion>
          <p-accordionTab header="Inventory">
            <app-inventory-display
              (emitRollResults)="setFromInventoryDiceRollResult($event)"
              [abilityModifiers]="equipmentBonuses()?.statsBonuses"
              [inventoryItems]="playerCard()?.loot"/>
          </p-accordionTab>

          <p-accordionTab header="Spellbook" [disabled]="!playerCard()?.spells?.length">
            <app-spellbook-display
              [spells]="playerCard()?.spells"
              [abilityModifiers]="equipmentBonuses()?.statsBonuses"
              (spellCast)="handleSpellCast($event)"
            ></app-spellbook-display>
          </p-accordionTab>

          <p-accordionTab
            header="Adventure summery"
            [disabled]="!campaignSummary()"
          >
            <p>{{ campaignSummary() || '—' }}</p>
          </p-accordionTab>

        </p-accordion>
      </div>

    </ng-container>
  </ng-container>

  <ng-template #editView>
    <form [formGroup]="playerCardForm">
      <p-panel header="Basic Information">
        <div class="info-grid">
          <div>
            <label>Name</label>
            <input pInputText name="name" formControlName="name" />
          </div>
          <div>
            <label>Race</label>
            <input pInputText name="race" formControlName="race" />
          </div>
          <div>
            <label>Class</label>
            <input pInputText name="class" formControlName="class" />
          </div>
          <div>
            <label>Level</label>
            <p-inputNumber name="level" formControlName="level" [min]="1"></p-inputNumber>
          </div>
          <div>
            <label>Exp</label>
            <p-inputNumber name="exp" formControlName="exp" [min]="0"></p-inputNumber>
          </div>
        </div>
      </p-panel>

      <p-divider />

      <p-panel header="Attributes">
        <div class="ability-grid" formGroupName="abilities">
          <ng-container *ngFor="let key of (abilities() | keyvalue)">
            <div class="ability edit">
              <label>{{ key.key | uppercase }}</label>
              <p-inputNumber
                [formControlName]="key.key"
              ></p-inputNumber>
            </div>
          </ng-container>
        </div>
      </p-panel>

      <p-divider />
    </form>
  </ng-template>
</p-card>
