<div class="start-journey">
  <div class="start-journey_header-block">
    <h3 class="start-journey_pre-title">
      Create Your Character and play whoever you want
    </h3>
    <h2 class="start-journey_title">
      RPG AI
    </h2>
    <div class="start-journey_description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  <div class="start-journey_buttons-wrapper">
    <button
      pButton
      (click)="startJourney()">
      Start your journey
    </button>
  </div>
</div>
